.info {
    margin-left: 120px;
    padding-top: 20px;
    box-sizing: border-box;
}
.info::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 20%;}
.col-3 {width: 27%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 55.33%;}
.col-8 {width: 69.66%;}
.col-9 {width: 70%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-12 {width: 100%;}
html {
    font-family: "Lucida Sans", sans-serif;
}
.main {
    margin-left: 100px;
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}
.dashboard {
    border: 2px #000 solid;
    background-color: #fcf8e3;
    color: #ffffff;
    padding: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.status {
    background-color: #fcf8e3;
    color: #000;
    padding: 15px;
    border: 2px #000 solid;
    margin-bottom: 15px;
}
.status ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.status li {
    padding: 3px;
    color: #fcf8e3;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: black;
}
.status a:link, a:visited {
    background-color: #fed136;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.status a:hover, a:active {
    background-color: black;
    color: white;
}
.group li:hover {
    background-color: #fcf8e3;
}
.group ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.group li {
    padding: 8px;
    color: #fcf8e3;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: black;
}
.group li:hover {
    background-color: #fcf8e3;
}
.events {
    background-color: #fcf8e3;
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px #efefef solid;
    margin-bottom: 15px;
}
.events a:link, a:visited {
    background-color: #fed136;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.events a:hover, a:active {
    background-color: black;
    color: white;
}
.rightside {
    border: 2px #000 solid;
    background-color: #fcf8e3;
    color: #ffffff;
    padding: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    overflow: auto;
    height: 300px;
}
.rightside a:link, a:visited {
    color: black;
    text-align: center;
    display: inline-block;
}


.rightside a:hover, a:active {
    color: #fed136;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #333;
    color: #fcf8e3;
    box-shadow: 0 1px 3px #333, 0 1px 2px #333;
}
.menu li:hover {
    background-color: #2f2f2f;
}
a.status {
  background-image: -o-linear-gradient(top, #f7df8d, #fed136);
  background-image: linear-gradient(to bottom, #f7df8d, #fed136);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  display: inline-block;
  padding: 7px 15px;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 20px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.nav2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left: 30px;
    width: 75.3%;
    }

.nav2 li {
    float: left;
}

.nav2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.nav2 li a:hover {
    background-color: #111;
}