/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/

.header-content h2 span {
  color: #fed136;
}
.knowmore-btn:hover,
.knowmore-btn:focus,
.download-btn:hover,
.download-btn:focus{
  background-color: #fed136;
  border-color: #fed136;
}